$transitionTime: .3s;

.page-outer-container {
  transition: $transitionTime;
  background-color: #fff;
  color: #111;
}

// ***************** 顶部条 *****************
.top-bar-container {
  transition: $transitionTime;
  border-bottom: solid 1px #eee;

  p {
    color: #666;
  }
}

// ***************** 顶部 tab 栏 *****************
.el-menu.top-menu-can {
  transition: $transitionTime;
  background-color: #fff;
}

// ***************** left-menu *****************
.el-menu {
  transition: $transitionTime;
  color: #666;

  .el-menu-item-group__title,
  .el-sub-menu__title {
    color: #666;
  }
}

// ***************** warning *****************
.warning {
  transition: $transitionTime;
  background-color: #FFE4B5;
  border: solid 1px orange;
  padding: 1em;
  border-radius: 0.5em;
}