@import './light.scss';
@import './dark.scss';

body,
#app {
  margin: 0;
  padding: 0;
}

.page-outer-container {
  display: flex;
  justify-content: center;
  min-width: 1280px;
}

.main-page-content-container {
  width: 100%;
}

.main-content {
  width: 1280px;
  margin: 0 calc(50vw - 640px);
}

h2 {
  font-weight: normal;
}

a {
  color: #409eff;
  text-decoration: none;
}

/* ****************************************** */
.page-content-container {
  padding: 24px;
}

/* ***************** code 相关 ***************** */
/* main color */
.hljs {
  transition: 0.3;
}